.header__nav
  background: url(../img/Rectangle.png) no-repeat center center fixed
  background-size: cover
  &_logo
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px
    margin-bottom: 88px
  &_list
    display: flex
    li
      // text-align: right
      list-style: none
      font-weight: bold
      margin-right: 30px
      color: #fff
      &:nth-child(4)
        margin: 0
      span
        padding-left: 35px
        font-weight: lighter
        font-size: 13px
        color: rgba(255, 255, 255, 0.6)
      .span
        padding-left: 132px
  &_text
    p
      color: #fff
      &:nth-child(1)
        font-weight: lighter
        font-size: 13px
        color: rgba(255, 255, 255, 0.6)
        width: 55%
      &:nth-child(3)
        font-size: 28px
      &:nth-child(4)
        font-size: 13px
        i
          // font-weight: lighter
          color: #F6A913
  &_info
    display: flex